<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <h2>Today's technology headlines are..</h2>
    <table>
        <thead>
            <tr>
                <td><strong>Thumbnail</strong></td>
                <td><strong>Title</strong></td>
            </tr>
        </thead>
        <tbody>
            {%for headline in headlines_list%}
            <tr>
                <td><img src="{{headline['img']}}" width=300/></td>
                <td><a href="{{headline['url']}}">{{headline['title']}}</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>

